@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --base-background: #000000;
    --base-darker: #2c2c2c;
    --base-text: #cecece;
    --base-dark-text: #888888;
    --base-gray: #515151;
    --accent: rgb(173, 0, 9);
    --accent-dark: rgb(121, 0, 6);
    --text-white: #dedede;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.max-w-6xl {
  max-width: 110rem;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #454545;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}

.slider::-webkit-scrollbar {
  display: none;
}

.test {
  border: 1px solid red;
}

.title {
  background-image: url("/images/texure.jpg");
  background-repeat: repeat;
  background-clip: text;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating {
  margin-right: 5px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.rating label {
  margin: 0 20px;
}

.rating span {
  background-color: #6c757d;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

.homeContainer .cast {
  margin: 30px 0;
}
.cast h4 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 17px;
}
.cast h4 span {
  color: #e50813;
}

.search {
  transition: border-color 0.3s ease; /* Smooth transition for the border color change */
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  display: none;
  /* Define the glow effect on focus */
}
@media (min-width: 768px) {
  .search {
    display: flex;
  }
}
.search:focus {
  outline: none;
}

.login-btn {
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  line-height: 1.4em;
  border: 2px solid var(--accent);
  background: linear-gradient(
    to right,
    rgba(173, 0, 9, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(173, 0, 9, 0.1) 100%
  );
  color: var(--accent);
  box-shadow: inset 0 0 10px rgba(173, 0, 9, 0.4),
    0 0 9px 3px rgba(173, 0, 9, 0.1);
}

.login-btn:hover {
  color: #ff6e6e;
  box-shadow: inset 0 0 10px rgba(173, 0, 9, 0.6),
    0 0 9px 3px rgba(173, 0, 9, 0.2);
}

.login-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(173, 0, 9, 0.1) 40%,
    rgba(173, 0, 9, 0.1) 60%,
    transparent 100%
  );
}

.login-btn:hover:before {
  transform: translateX(15em);
}

.nav-link {
  color: var(--base-text);
  text-decoration: none;
  font-size: 15px;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  transition: text-shadow 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.nav-link:hover {
  color: #fff; /* Optional: Change text color when hovered */
  text-shadow: 0 0 2px #f1f1f1, 0 0 5px #f1f1f1, 0 0 10px #f1f1f1,
    0 0 15px #f1f1f1, 0 0 20px #f1f1f1;
}

.logo-text {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.logo-text {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: var(--accent);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.logo-text:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.btn-primary {
  order: none;
  outline: none;
  background-color: var(--accent);
  color: var(--text-white);
  display: flex;
  border-radius: 7px;
  align-items: center;
  gap: 0.5rem;
}

.btn-primary:not(.bounce):hover {
  color: var(--base-text);
  background-color: var(--accent-dark);
}

.btn-primary.rounded {
  border-radius: 0.25rem;
}

.btn-primary.rounded-full {
  border-radius: 9999px;
}

.btn-primary.bounce:hover {
  transform: translateY(-3px);
}

.btn-ghost {
  font-weight: 600;
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-ghost:hover {
  color: var(--accent-dark);
}

.btn-ghost.rounded {
  border-radius: 0.25rem;
}

.btn-ghost.rounded-full {
  border-radius: 9999px;
}

.btn-small {
  padding: 0.25rem 0.5rem;
}

.btn-medium {
  padding: 0.5rem 0.75rem;
}

.btn-large {
  padding: 0.75rem 1.25rem;
}
